src/Release
src/ipch
src/NyuFX.sdf
src/NyuFX.suo
src/NyuFX.vcxproj.user

src/Lua5.1.5/Release
src/Lua5.1.5/ipch
src/Lua5.1.5/Lua5.1.5.sdf
src/Lua5.1.5/Lua5.1.5.suo
src/Lua5.1.5/Lua5.1.5.vcxproj.user

testの/
tools/

config.ini
NyuFX.exe